@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.center-header{
    background-image: linear-gradient(40deg,  rgb(37, 37, 37), rgb(0, 0, 0), rgb(37,37,37), #bc6561, rgb(37,37,37));
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    align-items: center;
    font-style: italic;
}

.github{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: black;
}

@media(max-width: 900px){
    .center-header{
        display: grid;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
    }

    .github{
        color: gold;
    }
}

@media(max-width: 500px){
    .center-header{
        text-align: center;
    }  
}